body {
    background-color: darkslategray;
    text-emphasis-color: #b6cef2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h1, p, a {
    justify-content: center;
    display: flex;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}

a {
    color: wheat;
}

.pretty-button {
    background-color:rgb(205, 92, 92); /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block for spacing */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
    justify-content: center;
}

.pretty-button:hover {
    background-color: rgb(148, 67, 67); /* Darker green on hover */
}

.pink-floyd {
    justify-content: center;
    display: flex;
}