body {
    background-color: darkslategray;
    text-emphasis-color: #b6cef2;
}


h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

a {
    color: #b6cef2;
}

.pretty-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block for spacing */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}
